.product-card {
    border: 2px black;
    width: 20%;
    height: 20%;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 2%;
}

.container {
    display: block;
    margin: 10px;
    width: 100%;
}