* {
    font-family: proxima-nova,Helvetica,Verdana,sans-serif;
}

.heading {
    text-align: center;
    padding: 10px;
}

.col-sm-6 {
    max-width: 30%;
}

.row {
    width: 100%;
    justify-content: center;
}

.card {
    background-color: #F8F8F8;
    font-size: 15pt;
    height: 200px;
    padding: 10%;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}