* {    
    margin: 0 !important;
}

a:link {
    color: black !important;
}
  
a:visited {
    color: black;
}
  
a:hover {
    color: black !important;
    text-decoration: none;
    background-color: transparent !important;
}
  
a:active {
    color: black;
}